<div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          # de Alumnos por Genero
        </div>
        <div class="card-body">
          <canvas id="canvas" width="300" height="300"></canvas>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          # Índice de aprobación
        </div>
        <div class="card-body">
          <canvas id="canvas_2" width="300" height="300"></canvas>

        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          # de Alumnos por Nivel Escolar
        </div>
        <div class="card-body">
          <canvas id="canvas_3" width="300" height="300"></canvas>
        </div>
      </div>
    </div>
  </div>
