<div class="row">
  <div class="col-md-5 mx-auto">
    <div class="card content">
      <div class="card-header">
        <span class="title">
          Plantel
        </span>
      </div>
        <div class="card-body">
          <form class="form" method="post" action="/login" role="form" autocomplete="off">
            <div class="form-group input-group-sm">
              <input type="text" name="code" required placeholder="Clave" class="form-control form-control-lg rounded-0">
            </div>
            <div class="form-group input-group-sm">
              <input type="text" name="name" required placeholder="Nombre del plantel" class="form-control form-control-lg rounded-0">
            </div>
            <div class="form-group input-group-sm">
              <input type="text" name="director" required placeholder="Director" class="form-control form-control-lg rounded-0">
            </div>
            <div class="form-group input-group-sm">
              <input type="text" name="assistant" required placeholder="Subdirector" class="form-control form-control-lg rounded-0">
            </div>
            <div class="form-group input-group-sm">
            </div>
            <div class="dropdown-divider"></div>
            <div class="form-group input-group-sm">
              <input type="text" name="username" required placeholder="Calle" class="form-control form-control-lg rounded-0">
            </div>
            <div class="form-group input-group-sm">
              <input type="text" name="username" required placeholder="Colonia" class="form-control form-control-lg rounded-0">
            </div>
            <div class="form-group input-group-sm">
              <input type="text" name="username" required placeholder="Código postal" class="form-control form-control-lg rounded-0">
            </div>
            <div class="form-group input-group-sm">
              <input type="text" name="username" required placeholder="Ciudad / Municipio" class="form-control form-control-lg rounded-0">
            </div>
              <div class="form-group input-group-sm">
                <input type="text" name="username" required placeholder="Estado" class="form-control form-control-lg rounded-0">
              </div>
            <div class="col-md-12 content-button">
              <button type="submit" class="btn btn-success btn-lg btn-block"> Guardar cambios</button>
            </div>
          </form>
        </div>
        <div class="options-help text-center help">

        </div>
    </div>
  </div>
</div>
